/* *{
    margin: 0;
    padding: 0;
}

header{
    padding-top: 1rem;
    padding-left:  2rem;
    color: white;
    background-color: #222;
    line-height: 1.2;
    height: 7rem;
}

header h2 {
    color: #aaa;
   
}

nav{
    display: flex;
    justify-content: space-between;
} */