body{
    background-color: black;
    max-width: 80%;
    text-align: center;
    margin: auto;
}
.container{
    
    padding: 2rem 0;
    width: 100%;  
    border: 1px solid #0000;
    display: flex;
    border-radius: .6rem;
    justify-content: center;
    align-items: center;
    color: orange;
    background-color: orangered;
    border: 1px solid red;
    gap: 1rem;
}

.child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}

img{
    width: 60%;
    border-radius: 100%;
}



p,h3{
    margin: 0;
    padding: 0;

}